*{
    margin: 0;
    padding: 0;
}   

nav{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(18, 66, 0);
}

nav a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    padding: 0px 10px;
}

nav a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(4, 12, 106);
}