.cookie{
	width: 370px;
    height: 100px;
    background-color: rgb(212, 244, 255);
    position:sticky;
    bottom: 88px;
    border-radius: 0px;
	left: 5%;
	padding: 20px 20px;
}

.cookie .txt{
	position: absolute;
    top: 3px;
    width: 66%;
}
.txt p{
	color:#1D2D35;
    font-size: 14px;
}

.cookie .accept {
    background-color: #B4DDFA;
    color: #fff !important;
    padding: 3px 23px;
    align-self: center;
    font-size: 14px;
    margin-top: 1%;
    margin-left: 3%;
    font-family: "Montserrat";
    position: relative;
    left: 70%;
    
}
.cookie .accept:hover {
	background-color: #9fd7ff;
}